@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.message-text {
    padding: 10px;
    width: auto;
    max-width: 60%;
    min-width: 100px;
    border-radius: 8px;
    word-wrap: break-word;
    white-space: normal;
  }
  